<app-navbar></app-navbar>
<br />
<br />
<!-- Titlebar
================================================== -->
<div
  class="single-page-header freelancer-header"
  data-background-image="images/single-freelancer.jpg"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="single-page-header-inner">
          <div class="left-side">
            <div class="header-image freelancer-avatar">
              <img src="{{ this.doctor.foto }}" alt="" />
            </div>
            <div class="header-details">
              <h3>
                {{
                  this.doctor.nombre +
                    " " +
                    this.doctor.primer_apellido +
                    " " +
                    this.doctor.segundo_apellido
                }}<span>{{ this.doctor.especialidades[0].descripcion }}</span>
              </h3>
              <ul>
                <li><div class="star-rating" data-rating="5.0"></div></li>
                <li>
                  <img class="flag" src="images/flags/de.svg" alt="" /> Germany
                </li>
                <li><div class="verified-badge-with-title">Verified</div></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page Content
================================================== -->
<div class="container">
  <div class="row">
    <!-- Content -->
    <div class="col-xl-8 col-lg-8 content-right-offset">
      <!-- Page Content -->
      <div class="single-page-section">
        <h3 class="margin-bottom-25">Sobre mi</h3>
        <p>
          {{ this.doctor.sobreMi }}
        </p>
      </div>

      <!-- Boxed List -->
      <div class="boxed-list margin-bottom-60">
        <div class="boxed-list-headline">
          <h3><i class="fas fa-briefcase"></i> Experiencia laboral</h3>
        </div>
        <ul class="boxed-list-ul">
          <li *ngFor="let empleo of this.doctor.experiencia">
            <div class="boxed-list-item">
              <!-- Content -->
              <div class="item-content">
                <h4>
                  {{ empleo.puesto }}
                  <span>{{ empleo.lugar_trabajo }}</span>
                </h4>
                <div class="item-details margin-top-10">
                  <div class="detail-item">
                    <i class="far fa-calendar-alt"></i>
                    {{ empleo.fecha_inicial | date: "shortDate" }} -
                    {{ empleo.fecha_final | date: "shortDate" }}
                  </div>
                </div>
                <div class="item-description">
                  <p>
                    {{ empleo.labores }}
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- Boxed List / End -->

      <!-- Boxed List -->
      <div class="boxed-list margin-bottom-60">
        <div class="boxed-list-headline">
          <h3><i class="fas fa-graduation-cap"></i> Estudios</h3>
        </div>
        <ul class="boxed-list-ul">
          <li *ngFor="let estudio of this.doctor.estudios">
            <div class="boxed-list-item">
              <!-- Avatar -->
              <div class="item-image">
                <img src="images/browse-companies-03.png" alt="" />
              </div>

              <!-- Content -->
              <div class="item-content">
                <h4>{{ estudio.centro_estudios }}</h4>
                <div class="item-details margin-top-7">
                  <div class="detail-item">
                    <i class="far fa-calendar-alt"></i>
                    {{ estudio.fecha_inicial | date: "shortDate" }} -
                    {{ estudio.fecha_final | date: "shortDate" }}
                  </div>
                </div>
                <div class="item-description">
                  <p>
                    {{ estudio.descripcion }}
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- Boxed List / End -->
    </div>

    <!-- Sidebar -->
    <div class="col-xl-4 col-lg-4">
      <div class="sidebar-container">
        <!-- Profile Overview -->
        <div class="profile-overview">
          <div class="overview-item">
            <strong>$35</strong><span>Hourly Rate</span>
          </div>
          <div class="overview-item">
            <strong>53</strong><span>Jobs Done</span>
          </div>
          <div class="overview-item">
            <strong>22</strong><span>Rehired</span>
          </div>
        </div>

        <!-- Button -->
        <a
          href="#small-dialog"
          class="apply-now-button popup-with-zoom-anim margin-bottom-50"
          >Agendar Cita <i class="far fa-calendar-alt"></i
        ></a>

        <!-- Freelancer Indicators -->
        <div class="sidebar-widget">
          <div class="freelancer-indicators">
            <!-- Indicator -->
            <div class="indicator">
              <strong>88%</strong>
              <div class="indicator-bar" data-indicator-percentage="88">
                <span></span>
              </div>
              <span>Job Success</span>
            </div>

            <!-- Indicator -->
            <div class="indicator">
              <strong>100%</strong>
              <div class="indicator-bar" data-indicator-percentage="100">
                <span></span>
              </div>
              <span>Recommendation</span>
            </div>

            <!-- Indicator -->
            <div class="indicator">
              <strong>90%</strong>
              <div class="indicator-bar" data-indicator-percentage="90">
                <span></span>
              </div>
              <span>On Time</span>
            </div>

            <!-- Indicator -->
            <div class="indicator">
              <strong>80%</strong>
              <div class="indicator-bar" data-indicator-percentage="80">
                <span></span>
              </div>
              <span>On Budget</span>
            </div>
          </div>
        </div>

        <!-- Widget -->
        <div class="sidebar-widget">
          <h3>Redes Sociales</h3>
          <div class="freelancer-socials margin-top-25">
            <ul>
              <li *ngFor="let red of this.doctor.redesSociales">
                <a
                  href="red.url"
                  title="Dribbble"
                  data-tippy-placement="top"
                  target="_blank"
                  ><i
                    class="fab"
                    [ngClass]="{
                      'fa-instagram-square': red.descripcion == 'instagram',
                      'fa-twitter-square': red.descripcion == 'twitter',
                      'fa-facebook-square': red.descripcion == 'facebook'
                    }"
                  ></i
                ></a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Widget -->
        <div class="sidebar-widget">
          <h3>Especialidades</h3>
          <div class="task-tags">
            <span *ngFor="let especialidad of this.doctor.especialidades">{{
              especialidad.descripcion
            }}</span>
          </div>
        </div>

        <!-- Widget -->
        <div class="sidebar-widget">
          <h3>Attachments</h3>
          <div class="attachments-container">
            <a href="#" class="attachment-box ripple-effect"
              ><span>Cover Letter</span><i>PDF</i></a
            >
            <a href="#" class="attachment-box ripple-effect"
              ><span>Contract</span><i>DOCX</i></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Spacer -->
<div class="margin-top-15"></div>
<!-- Spacer / End-->
<app-footer></app-footer>
